* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #B01ED9;
    color: #F2D0D0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #F2D0D0;
    color: #B01ED9;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones {
    margin-bottom: 2rem;
}

.marcador {
    background-color: #F2AE2E;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    color: #B01ED9;
    font-weight: 600;
    margin-bottom: 2rem;
}

.marcador .nombre {
    position: absolute;
    color: #F2D0D0;
    background-color: #B01ED9;
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid #F2AE2E;
}

.marcador .nombre-jugador {
    right: 85%;
}

.marcador .nombre-computadora {
    left: 85%;
}

.marcador .puntos {
    font-size: 1.6rem;
}

.elegi-tu-opcion {
    margin-bottom: 2rem;
}

.elegi-tu-opcion h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.opciones .opciones {
    font-size: 2rem;
    background-color: #F2D0D0;
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    color: #B01ED9;
}

.mensaje {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.mensaje .eleccion {
    color: #B01ED9;
    background-color: #F2AE2E;
    border-radius: .25rem;
    padding-inline: .25rem;
}

.btn {
    border: 0;
    line-height: 1;
    background-color: #F2D0D0;
    color: #B01ED9;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
}